<template lang="html">
  <div>
    <Menu />
  </div>
</template>

<script>
import Menu from './Menu.vue'
export default {
  components: {
    Menu
  }
}
</script>

<style lang="css" scoped>
  div {
      background-color: #23645e;
      padding: .8em;
      color: #FFF;
  }
</style>
