<template lang="html">
  <div class="">
        <Cabecalho />

          <section>
                <h1>Cadastro de usuário</h1>

                  <form class="" action="http://192.168.0.107:8090/setCadastro" method="post">

                      <input type="text" name="nome" value="" required placeholder="Seu nome">
                      <input type="email" name="email" value="" required placeholder="Seu e-mail">
                      <input type="password" name="senha" value="" required placeholder="Senha">

                      <div>
                        <button type="button" name="button" v-on:click="voltarHome()">Cancelar</button>
                        <button type="submit" name="button">Enviar</button>
                      </div>
                  </form>
            </section>

        <Rodape />
  </div>
</template>

<script>
import Cabecalho from './Cabecalho.vue'
import Rodape from './Rodape.vue'

export default {
  components: {
    Cabecalho,
    Rodape
  },
  methods: {
    voltarHome: function () {
      this.$router.push({name: 'Home'})
    }
  }
}
</script>

<style lang="css" scoped>
  form {
    display: flex;
    flex-direction: column;
    max-width: 25em;
    margin: auto;
    margin-top: 3em;
  }
  form input {
    padding: 10px;
    margin: 5px 0 5px 0;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
  }
  form div {
    display: flex;
    justify-content: space-between;
  }
  form div button {
    width: 6em;
    display: inline-block;
    padding: 10px;
    margin: 5px 0 5px 0;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
  }
  form button:hover {
    background-color: #4CAF50;
    color: #FFF;
  }
  section {
    margin-top: 2em;
    height: 72vh;
  }
</style>
