<template lang="html">
    <div>

      <Cabecalho />
          <section>
              Contato
          </section>
      <Rodape />

    </div>
</template>

<script>
import Cabecalho from './Cabecalho.vue'
import Rodape from './Rodape.vue'

export default {
  components: {
    Cabecalho,
    Rodape
  }
}
</script>

<style lang="css" scoped>
  section {
    background-color: #F44336;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-size: 2em;
    color: #FFF;
  }
</style>
