<template lang="html">
    <div>
        Hello World
    </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
  div {
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73vh;
    font-size: 2em;
    color: #FFF;
  }
</style>
