<template lang="html">
  <div class="">
      <Cabecalho />
      <Corpo />
      <Rodape />
  </div>
</template>

<script>
import Corpo from './Corpo.vue'
import Cabecalho from './Cabecalho.vue'
import Rodape from './Rodape.vue'

export default {
  components: {
    Corpo,
    Cabecalho,
    Rodape
  }
}
</script>
