<template lang="html">
  <div>
        <ul>
          <li v-for="i in menu" v-bind:key="i.nome" v-on:click="vaiParaRota(i.nomeRota)">
              {{i.nome}}
          </li>
        </ul>
  </div>
</template>

<script>
export default {
  data () {
      return {
        menu: [
          {nome: 'Home', nomeRota: 'Home'},
          {nome: 'Produtos', nomeRota: 'Produto'},
          {nome: 'Cadastro', nomeRota: 'Cadastro'},
          {nome: 'Contato', nomeRota: 'Contato'}
        ]
      }
  },
  methods: {
    vaiParaRota: function (nomeDaRota) {
      console.log(nomeDaRota)
      if (this.$route.name !== nomeDaRota) {
        this.$router.push({name: nomeDaRota})
      }
    }
  }
}
</script>

<style lang="css" scoped>
      ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        max-width: 37em;
        margin: auto;
        font-size: 1.3em;
      }
      ul li {
        cursor: pointer;
      }
      ul li:hover {
        color: #FFF;
      }
</style>
