<template lang="html">
  <div>
      Rodapé
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
  div {

        background-color: #23645e;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        flex: 1;
        height: 11vh;
  }
</style>
